<ion-content>
  <ion-list class="ion-no-margin" *ngIf="listening">
    <ion-text color="primary" class="ion-text-center ion-margin-top">
      <h5>Mendengarkan</h5>
    </ion-text>
    <ion-grid>
      <ion-row class="row-1">
        <ion-col size="12" class="ion-text-center">
          <ion-icon
            class="ion-text-center icon-mic"
            size="large"
            name="mic-circle-outline"
            color="medium"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-spinner name="dots"></ion-spinner
        ></ion-col>
      </ion-row>
    </ion-grid>

    <ion-text color="primary" class="ion-text-center">
      <p>Silahkan bicara ...</p>
    </ion-text>
  </ion-list>
</ion-content>
