ion-spinner {
  transform: scale(3);
  color: var(--ion-color-primary) !important;
}

ion-list {
  height: 100%;
}

.icon-mic {
  zoom: 3;
}
ion-grid {
  height: 70%;
}
.row-1 {
  height: 70%;
}

ion-col {
  align-self: center;
}
