<ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" translucent="true" mode="md">
    <ion-fab-button
      (click)="presensi()"
      [disabled]="status_presensi?.jam_masuk && status_presensi?.jam_keluar"
      [color]="status_presensi?.jam_masuk ? 'danger' : 'green'"
    >
      <ion-icon color="light" name="finger-print"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="presensi" class="comments">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <svg
      height="50"
      viewBox="0 0 100 50"
      width="100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
        fill="red"
        fill-rule="evenodd"
      ></path>
    </svg>

    <ion-tab-button tab="cuti" class="notifs">
      <ion-icon name="document"></ion-icon>
      <ion-label>Cuti</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
