<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" *ngFor="let menu of menus">
        <ion-card mode="ios" (click)="goList(menu.url)" class="ion-no-margin ion-padding ion-text-center no-shadow">
          <ion-text color="primary" class="ion-text-center">
            <ion-img [src]="menu.icon" class="icon-menu"></ion-img>
            <p>{{menu?.name | titlecase}}</p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>